body{
    margin: 0;
    padding: 0;
    background: #c0bdc2;
    font-family: var(--main-font);
}

.full-body,
.full-body * {
  box-sizing: border-box;
}
.full-body {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  height: 917px;
  position: relative;
}
.gameboy {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.gameboy-upperbody {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.part-1 {
  background: #eae8e4;
  border-radius: 15px 0px 0px 0px;
  border-style: solid;
  border-color: #000000;
  border-width: 2px 1px 0px 2px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  position: relative;
  overflow: hidden;
}
.part-2 {
  background: #eae8e4;
  border-style: solid;
  border-color: #000000;
  border-width: 2px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 30px;
  position: relative;
  overflow: hidden;
}
.phoneup {
  background: #7b7b7b;
  border-radius: 35.97px;
  padding: 4px 12px 4px 12px;
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 46px;
  height: 8px;
  position: absolute;
  left: calc(50% - 152px);
  top: 11px;
  box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.24);
}
.part-3 {
  background: #eae8e4;
  border-radius: 0px 15px 0px 0px;
  border-style: solid;
  border-color: #000000;
  border-width: 2px 2px 0px 1px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  position: relative;
  box-shadow: inset -7px -1px 0px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
