@font-face {
    font-family: 'Courier';
    src: url('Courier\ Prime.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
:root {
    --main-font: 'Courier', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    background: #c0bdc2;
    font-family: var(--main-font);
}

.full-body,
.full-body * {
  box-sizing: border-box;
}
.full-body {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  height: 917px;
  position: relative;
}
.gameboy {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.gameboy-upperbody {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.part-1 {
  background: #eae8e4;
  border-radius: 15px 0px 0px 0px;
  border-style: solid;
  border-color: #000000;
  border-width: 2px 1px 0px 2px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  position: relative;
  overflow: hidden;
}
.part-2 {
  background: #eae8e4;
  border-style: solid;
  border-color: #000000;
  border-width: 2px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 30px;
  position: relative;
  overflow: hidden;
}
.phoneup {
  background: #7b7b7b;
  border-radius: 35.97px;
  padding: 4px 12px 4px 12px;
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 46px;
  height: 8px;
  position: absolute;
  left: calc(50% - 152px);
  top: 11px;
  box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.24);
}
.part-3 {
  background: #eae8e4;
  border-radius: 0px 15px 0px 0px;
  border-style: solid;
  border-color: #000000;
  border-width: 2px 2px 0px 1px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  position: relative;
  box-shadow: inset -7px -1px 0px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.gameboy-lowerbody {
  background: #eae8e4;
  border-radius: 0px 0px 70px 15px;
  border-style: solid;
  border-color: #000000;
  border-width: 2px;
  padding: 20px 30px 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 44px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 688px;
  position: relative;
  box-shadow: inset -7px -6px 0px 0px rgba(0, 0, 0, 0.21),
    inset 0px 3px 0px 0px rgba(0, 0, 0, 0.12);
}
.screen-frame {
  background: #52525a;
  border-radius: 0px 0px 41.92px 0px;
  border-style: solid;
  border-color: #000000;
  border-width: 2px;
  padding: 8.38px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 335px;
  height: 251.49px;
  max-width: 335.32px;
  max-height: 251.49px;
  position: relative;
  box-shadow: inset 0px -7px 0px 0px rgba(0, 0, 0, 0.49),
    inset -5px -4px 0px 0px rgba(0, 0, 0, 0.49),
    inset 0px 4px 0px 0px rgba(255, 255, 255, 0.19);
}
.screen {
  background: #BED5F8;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 16.77px;
  display: flex;
  flex-direction: column;
  gap: 8.38px;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  width: 235px;
  max-width: 235px;
  max-height: 200px;
  position: relative;
}
.question-place {
  display: flex;
  flex-direction: row;
  gap: 8.38px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.question {
  color: #000000;
  text-align: center;
  font-family: var(--main-font);
  font-size: 0.8rem;
  font-weight: 700;
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-frame {
  background: #cec9c2;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 321px;
  position: relative;
  box-shadow: inset 0px 4px 0px 0px rgba(0, 0, 0, 0.1);
}
.button {
    cursor: pointer;
  background: #323231;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 2px;
  padding: 10px 10px 13px 10px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  box-shadow: inset 0px -6px 0px 0px rgba(0, 0, 0, 0.55),
    0px 4px 0px 0px rgba(0, 0, 0, 0.33),
    inset 0px 4px 0px 0px rgba(255, 255, 255, 0.19);
}
.button:active{
    background: #171717;
    border-radius: 5px;
    border-style: solid;
    border-color: #000000;
    border-width: 2px;
    padding: 10px 10px 5px 10px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    height: 40px;
    position: relative;
    box-shadow: inset 3px 7px 0px 0px rgba(0, 0, 0, 0.55);
      }

.buttoneffect {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.buttoneffect-1 {
  background: #5c5c5a;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  width: 2px;
  position: relative;
}
.anwser-1-frame {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
}
.anwser-1 {
  color: #ffffff;
  text-align: center;
  font-family: var(--main-font);
  font-size: 0.65rem;
  font-weight: 500;
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.anwser-2-frame {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
}
.anwser-2 {
  color: #ffffff;
  text-align: center;
  font-family: var(--main-font);
  font-size: 0.65rem;
  font-weight: 500;
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.anwser-3-frame {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
}
.anwser-3 {
  color: #ffffff;
  text-align: center;
  font-family: var(--main-font);
  font-size: 0.65rem;
  font-weight: 500;
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.next-button {
    background: #cec9c2;
    border-radius: 35.97px;
    padding: 7.19px 7px 7.19px 7px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    box-shadow: inset 0px 3px 0px 0px rgba(0, 0, 0, 0.16);
  }
  .next-frame {
    cursor: pointer;
    background: #aa2166;
    border-radius: 50px;
    border-style: solid;
    border-color: #591433;
    border-width: 1px;
    padding: 0px 0px 5px 0px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 154px;
    height: 51px;
    position: relative;
    box-shadow: inset 0px -4px 0px 0px rgba(70, 22, 46, 0.76),
      inset 0px -6px 0px 0px rgba(255, 116, 186, 0.29),
      0px 3px 0px 0px rgba(0, 0, 0, 0.33);
  }
  .next-frame:active{
    background: #761244;
    border-radius: 50px;
    border-style: solid;
    border-color: #591433;
    border-width: 1px;
    padding: 0px 0px 5px 0px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 154px;
    height: 51px;
    position: relative;
    box-shadow: inset 0px 6px 0px 0px rgba(69, 14, 42, 1),
      0px 3px 0px 0px rgba(0, 0, 0, 0);
  }
  .next {
    color: #ffffff;
    text-align: center;
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 600;
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .next:active{
    color: #ddc2c2;
    text-align: center;
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 600;
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }


.speakers {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 41px;
  height: 43px;
  position: absolute;
  left: calc(50% - -111.01px);
  bottom: 22.8px;
  transform-origin: 0 0;
  transform: rotate(-45deg) scale(1, 1);
  object-fit: cover;
}
.phone {
  background: #7b7b7b;
  border-radius: 35.97px;
  padding: 4px 12px 4px 12px;
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 46px;
  height: 8px;
  position: absolute;
  left: calc(50% - 84.5px);
  bottom: 18px;
  box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.24);
}
